[Unit]
Description=pyrin
Wants=network.target
After=syslog.target network-online.target controller.service updatemac.service


[Service]
Type=simple
ExecStart=/opt/pyrin/startpyrin.sh
Restart=always
RestartSec=5
KillMode=control-group

[Install]
WantedBy=multi-user.target
