[Unit]
Description=tari
Wants=network.target
After=syslog.target network-online.target controller.service updatemac.service


[Service]
Type=simple
ExecStart=/opt/tari_os/starttari_os.sh
Restart=always
RestartSec=5
KillMode=control-group

[Install]
WantedBy=multi-user.target
